.main-footer {
    background: none;
    padding: 15px;
    color: white;
    border-top: 1px solid #079FEE;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}


.skin-blue .main-header .logo{
    background-color: #0B66EE;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
        background-color: #151719;
}

body, .content-wrapper{
    background-color: #0E0F10;
    color:#DEDEDE;
}

.form-control, .btn-default, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.1);
    color: #DEDEDE;
}

code{
    background-color: rgba(0,0,0,0.5);
    color: #DEDEDE
}


.box{
    background-color: #23272A !important;
    border-top: none;
}

.server-description{
    background-color: transparent !important;
}


tr, td{
    background: transparent !important;
}
.table:hover ,table:hover, .table-hover:hover{
    background-color: transparent;
    background: transparent;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
border-top: 0 !important;
}

.box-header{
color: #DEDEDE;
}

.box .overlay, .overlay-wrapper .overlay{
    background: rgba(0,0,0,0.7);
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa{
    color: #DEDEDE;
}
.box-footer{
    background-color: #23272A !important;
    border-top: none;
}

.box-header.with-border{
    border-bottom: none;
}

.table > thead > tr > th{
    border-bottom: none;
}

.skin-blue .main-header .logo:hover {
    background-color: #0B66EE;
}

.skin-blue .sidebar-menu>li.header {
    color: white;
    background: #23272A;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #0B66EE;
    background: #0B66EE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0B66EE, #079FEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0B66EE, #079FEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
    color: white;
}

.select2-container{
color: black;
}

/* $brand-night:(
        "base": #23272A,
        "darken-1": #1c1f21,
        "darken-2": #151719,
        "darken-3": #0E0F10,
);

 */

.navbar-static-top{
background: #079FEE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0B66EE, #079FEE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0B66EE, #079FEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skin-blue .main-header .logo{
    background-color: #151719;
}

.skin-blue .main-header .logo:hover {
    background-color: #151719;
}
tr:hover + tr.server-description {
    background-color: transparent !important;
}

.logo-image{
  height: 85%;
  width: 85%;
  object-fit: contain;
  vertical-align: middle;
  margin: auto;
}
