.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}

.skin-blue .main-header .logo{
    background-color: #0B66EE;
}

.logo-image{
  height: 85%;
  width: 85%;
  object-fit: contain;
  vertical-align: middle;
  margin: auto;
}
